html {
  font-size: 62.5%;
  line-height: 1.4;
}
body {
  font-size: 1.6rem;
}

body.material-body {
  overflow: hidden;
  max-width: 100%;
  max-height: 100%;
}

#license-footer {
  align-self: flex-end;
  padding: 16px 32px;
  width: 100%;

  text-align: center;
  font-size: small;
  border-top: 1px solid #ddd;
}

/***************
 * TYPE DEFAULTS
 ***************/
a {
  text-decoration: none;
  font-weight: 400;
  -webkit-transition: border-bottom 0.35s;
  -moz-transition: border-bottom 0.35s;
  -ms-transition: border-bottom 0.35s;
  -o-transition: border-bottom 0.35s;
  transition: border-bottom 0.35s;
}
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}
h1 {
  font-size: 3.400rem;
  font-weight: 400;
  line-height: 4rem;
}
h2 {
  font-size: 2.400rem;
  font-weight: 400;
  line-height: 3.2rem;
}
h3 {
  font-size: 2.000rem;
  font-weight: 500;
  letter-spacing: 0.005em;
}
h4 {
  font-size: 1.600rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 2.4rem;
}
p {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.010em;
  line-height: 1.6em;
  margin: 0.8em 0 1.6em;
}
strong {
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}
ul li {
  margin-left: 16px;
  padding: 0;
  margin-top: 3px;
  list-style-position: inside;
}
ul li:first-child {
  margin-top: 0;
}

.md-whiteframe-glow-z1 {
  box-shadow: 0px 0px 1px 1px rgba(0, 0, 0, 0.14),
              0px 0px 2px 2px rgba(0, 0, 0, 0.098),
              0px 0px 5px 1px rgba(0, 0, 0, 0.084);
}

/*.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #666 !important;
  z-index: 3;
}

.site-content-toolbar {
  background: #f6f6f6 !important;
  color: #202020 !important;
  z-index: 3;
}*/

.icon {
  width: 15px;
  height: 15px;
}


md-radio-button {
    box-sizing: border-box;
    display: block;
    margin-top: 22px;
    margin-bottom: 16px;
    white-space: nowrap;
    cursor: pointer;
    position: relative;
    padding-right: 20px;
}


.delete {
  width: 20px;
  color: red;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

th {
  background-color: #3f51b5;
  color: #ffffff;
}

tbody tr:nth-child(odd) {
   background-color: #ccc;
}

.black {
  color: #272727;
}

.red {
  color: rgba(255,64,129,0.84);
}





