body, html {
	height: 100%;
	margin: 0;
}


section, header {
	float: left;
}

.radio {
	padding-top: 5px;
	padding-right: 10px;
}

/* hack para IE */
/*.menu {
	height: 100%;
	width: 60px;
	_width: 60px;
	background: #042037;
	float: left;
}

.menu ul {
	width:60px;
	padding:6px;
	margin:0;
}
.menu li {
	height: 60px;
	list-style: none;
	padding:3px 5px;
	margin-bottom:2px;
}
.menu li a {
	display:block;
	color: #ffffff;
	text-decoration: none;
}*/
/*.menu li a:hover {
	background-color:#496D89;
	opacity: 0.5;
} */

/*.header {
	width: calc(100% - 64px);
	max-height: 80px;
	background: #496D89;
	color: #ffffff;
	float: left;
}

.list li{
 color: black;
}*/
